.ce-quote-wrapper {
	font-size: 70px;
	height: 50px;
	color: #6c7381;
}

.ce-quote {
	outline: none;
	word-wrap: anywhere;
	color: #767c89;
}

.ce-quote-block {
	font-size: 1.1em;
	margin: 0px 22px;
	word-spacing: 1;
	line-height: 1.25;
}

.ce-quote-simple {
  font-size: 1em;
	margin: 5px 20px;
  padding: 5px 10px;
  border-left: 3.5px solid #6c7381;
}

.ce-quote[contentEditable='true'][data-placeholder]::before {
	position: absolute;
	content: attr(data-placeholder);
	color: #707684;
	font-weight: normal;
	display: none;
	cursor: text;
}

.ce-quote[contentEditable='true'][data-placeholder]:empty::before {
	display: block;
}

.ce-quote[contentEditable='true'][data-placeholder]:empty:focus::before {
	display: none;
}

/* Alignment*/
.ce-quote-align-left {
	text-align: left;
}
.ce-quote-align-center {
	text-align: center;
}
.ce-quote-align-right {
	text-align: right;
}
.ce-quote-align-justify {
	text-align: justify;
}
